*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

#code .token.selector {
    color: black;
}
#code .token.punctuation {
    color: black;
}
#code .token.property {
    color: black;
}
#code .token.function {
    color: black;
}

::-webkit-scrollbar { 
    display: none; 
}

#codeWrapper{
    padding: 16px;
    overflow: scroll;
    overflow-x: hidden;
}

#code{
    padding: 16px;
    overflow: hidden;
}

#paper{
    overflow: hidden;
}
.html.markdown-body{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 32px;
    overflow: scroll;
    overflow-x: hidden; 
}

@keyframes breath{
  0%{
    box-shadow: 0 0 10px rgba(0,0,0,1)
  }
  100%{
    box-shadow: 0 0 10px rgba(0,0,0,0.2)
  }
}
